body {
    font-family: 'Satisfy', cursive;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/bglogin.JPG');
    background-size: cover;
    background-position: 0px -150px;
    color: #707070;
}

.tulisan_login {
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
}

.kotak_login {
    width: 350px;
    background: white;
    margin: 250px auto 0;
    padding: 20px;
    box-shadow: 0px 0px 20px 3px #d6d6d6;
}

label {
    display: inline-block;
    color: black;
    margin-bottom: 10px;
    font-size: 11pt;
}

.form_login {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 20px;
}

.tombol_login {
    background: #2aa7e2;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}

.link {
    color: black;
    display: inline-block;
    margin-top: 20px;
    margin-top: 10px;
    text-decoration: none;
}

.link:hover {
    color: #2aa7e2;
}

.alert {
    background: #e44e4e;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #b32929;
}