* {
    box-sizing: border-box;
}

body {
    font-family: 'Satisfy', cursive;
    background-image: url('../img/blue-snow.png');
    margin: 0;
    padding: 0;
    width: 100%;
}

.jumbotron {
    height: 130px;
    background-color: #2D98DA;
    text-align: center;
}

.jumbotron h1 {
    font-size: 58px;
    color: white;
    padding: 10px;
}

.jumbotron p {
    font-size: 26px;
    color: #FFF48F;
}

.nav {
    float: left;
    width: 100%;
    background-color: #A8DDA8;
    margin-top: 10px;
}

.nav li {
    float: left;
    list-style: none;
}

.nav li a {
    display: block;
    font-size: large;
    color: #2D98DA;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    font-weight: bold;
}

.center ul {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto;
}

.konten,
.main {
    width: 70%;
    margin: 0 auto 10px;
    background-color: white;
}

.abmain {
    width: 70%;
    margin: 20px auto 10px;
    background-color: white;
    padding: 50px 20px 20px;
}

.main .hero-image {
    background-image: linear-gradient(rgba(87, 86, 86, 0.5), rgba(100, 100, 100, 0.5)), url("../img/hero.jpg");
    height: 380px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-position: 0 -100px;
    background-size: cover;
    position: relative;
}

.main .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h2 {
    font-size: 26px;
    padding: 5px;
}

.hero-text p {
    padding: 5px;
    margin-bottom: 10px;
}

.desk p {
    padding: 0 20px 10px 20px;
    color: #707070;
    line-height: 25px;
    text-indent: 3em;
    text-align: justify;
    margin-top: 50px;
    padding-bottom: 100px;
}

.abdesk p {
    padding: 0px 20px;
    color: #707070;
    text-indent: 3em;
    text-align: justify;
    line-height: 25px;
    margin-top: 20px;
}

h3 {
    margin-top: 70px;
    text-decoration: underline;
    padding: 0 20px;
    font-size: 22px;
    color: #FFF48F;
}

.versi {
    margin-top: 20px;
}

.versi tr {
    border-top: 1px solid #000;
    border-bottom: 1px solid black;
}

.versi p {
    margin-top: 0px;
    text-indent: 0%;
}

#kontak {
    margin-top: 10px;
    text-indent: 0%;
}

.konten h2 {
    background-color: #ffdd93;
    font-size: 20px;
    font-weight: bold;
    color: #707070;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.konten p {
    color: #707070;
}

.box {
    height: 200px;
    display: flexbox;
    float: left;
    margin: 20px;
    margin-bottom: 30px;
}

.box a {
    text-align: center;
    text-decoration: none;
}

.box img {
    height: 200px;
}

.box p {
    padding: 5px;
}

.clear {
    clear: both;
}

footer {
    width: 100%;
    background-color: #A8DDA8;
}

footer p {
    color: #707070;
    padding: 10px;
    text-align: center;
}